.shareing_experiences{
    width: 80%;
    margin: 50px auto;
    padding-block: 50px;
    text-align: center;
    gap: 20px;

    h5{
        font-weight: 400;
        font-size: 24px;
        color: #f2be22;
    }

    h1{
        font-weight: 800;
        font-size: 32px;
        text-align: center;
        color: #18121e;
    }

    img{
        width: 100%;
        cursor: pointer;
    }

    a button{
        width: 178px;
        height: 52px;
        border-radius: 4px;
        background: #1a3e3e;
        border: 1px solid #1a3e3e;
    
        font-weight: 600;
        font-size: 16px;
        color: #fdfdfd;
    }
}